@use 'sass:map';
@import '~bulma/css/bulma.css';
@import '~@fortawesome/fontawesome-free/css/all.css';

h1 {
  font-size: 2rem;
  margin: 0 0 10px;
}

h2 {
  font-size: 1.8rem;
  font-weight: 600;
  margin: 0 0 10px;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.45rem;
}

h5 {
  font-size: 1.3rem;
}

h1, h2, h3, h4, h5 {
  font-weight: bold;
  color: map.get($colors, "darkBlue");
}

p {
  margin-bottom: 20px;
}

a {
  color: map.get($colors, "link");

  &:hover {
    color: map.get($colors, "pink");
  }
}

section:nth-child(even) {
  background-color: #f0f5f7;
}

body {
  font-size: 1.125rem;
  color: #202020;
}

section:nth-child(even) {
  background-color: #f0f5f7;
}

body {
  font-size: 1.125rem;
  color: #202020;
}

// Sticky footer
#__next {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

// Sticky footer
main {
  flex: 1;
}

a {
  outline: none;
}

ul {
  margin-left: 1.5rem;
  list-style: disc outside;
}

ol {
  margin-left: 1.5rem;
}
