@use 'sass:map';
@import '~bulma/css/bulma.css';
@import '~@fortawesome/fontawesome-free/css/all.css';
@import "~chartist/dist/scss/chartist.scss";

h1 {
  font-size: 42px;
  margin: 0 0 10px;
}

h2 {
  font-size: 34px;
  margin: 0 0 10px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 16px;
}

h1, h2, h3, h4, h5 {
  line-height: 1.125;
  font-weight: bold;
  color: map.get($colors, "darkPurple");
}

p, dl {
  margin-bottom: 20px;
}

a {
  color: map.get($colors, "pink");

  &:hover {
    color: map.get($colors, "pink");
    text-decoration: underline;
  }
}

a {
  h1, h2, h3, h4, h5 {
    color: map.get($colors, "pink");
  }
}

body {
  font-size: 16px;
  color: map.get($colors, "darkPurple");
}

section:nth-of-type(even),
section.blue-background {
  background-color: map.get($colors, "lightGray");
}

section.white-background {
  background-color: white;
}

// Sticky footer
#__next {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

// Sticky footer
main {
  flex: 1;
}

@media only screen and (min-width: 1250px) {
  nav .container {
    max-width: 1200px;
  }
}

a {
  outline: none;
}

ul {
  margin-left: 1.5rem;
  list-style: disc outside;
}

ol {
  margin-left: 1.5rem;
}

@each $background, $color in $backgrounds {
  body .#{$background}-background {
    background-color: map.get($colors, $color);
  }
}

.table {
  color: map.get($colors, 'darkPurple');
}
