@use 'sass:map';
@import '~bulma/css/bulma.css';
@import '~@fortawesome/fontawesome-free/css/all.css';
@import "~chartist/dist/scss/chartist.scss";

h1 {
  font-size: 2rem;
  margin: 0 0 10px;
}

h2 {
  font-size: 1.8rem;
  font-weight: 600;
  margin: 0 0 10px;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.45rem;
}

h5 {
  font-size: 1.3rem;
}

h1, h2, h3, h4, h5 {
  font-weight: bold;
  color: map.get($colors, "blueTitle");
}

p, dl {
  margin-bottom: 20px;
}

a {
  color: map.get($colors, "pink");

  &:hover {
    color: map.get($colors, "pink");
    text-decoration: underline;
  }
}

a {
  h1, h2, h3, h4, h5 {
    color: map.get($colors, "pink");
  }
}

section:nth-child(even) {
  background-color: #f0f5f7;
}

body {
  font-size: 1.125rem;
  color: #202020;
}

section:nth-child(even) {
  background-color: #f0f5f7;
}

body {
  font-size: 1.125rem;
  color: #202020;
}

// Sticky footer
#__next {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

// Sticky footer
main {
  flex: 1;
}

@media only screen and (min-width: 1250px) {
  nav .container {
    max-width: 1200px;
  }
}

@media only screen and (min-width: 1250px) {
  main section .container {
    max-width: 1050px;
  }
}

a {
  outline: none;
}

ul {
  margin-left: 1.5rem;
  list-style: disc outside;
}

ol {
  margin-left: 1.5rem;
}

body .adopt-background {
  background-color: map.get($colors, 'adoptBg');
}

body .trial-background {
  background-color: map.get($colors, 'trialBg');
}

body .assess-background {
  background-color: map.get($colors, 'assessBg');
}

body .hold-background {
  background-color: map.get($colors, 'holdBg');
}
